// Place all the styles related to the linkctrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	border-bottom: solid 1px #CCC;
	padding: 15px 0;
	padding-top: 15px;
	margin: 0px;
}

.row p {
	margin: 4px 0;
}

